body {
    background-image: url("picture&video/newspaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

font-face {
    font-family: 'MV Boli'; 
    src: url('MV\ Boli.ttf') format('truetype'); 
}

/* Heading */

.header {
    font-size: 38px;
    display: flex;
    align-items: center;
    margin-left: 160px;
    margin-top: 20px;
}

.image {
    margin-top: -5px;
    margin-right: 70px;
    width: 210px; 
    height: 210px; 
    border-radius: 50%;

}

.text-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.header p {
    width:400px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(238, 28, 116, 0.8);
    color: rgb(255, 255, 255);
    font-size: 16px;
}


.header h1 {
    text-shadow: rgba(238, 28, 116);

    text-align:center;
    justify-content : center;

    font-family: 'MV Boli', Arial, sans-serif; 
    margin-top: -45px;
    margin-bottom: 10px;


    font-size: calc( 1em + 5vmin );
    font-weight: 700;
    color: rgb(0, 0, 0);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(238, 28, 116);
    
    text-shadow: 
      
      var(--x-offset) var(--y-offset) 0px var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) ) calc( var(--y-offset) + var(--stroke) )
      0px var(--stroke-color);
    
  }

  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .heading {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }


/* Description */
.description {

    
    font-family: 'MV Boli';
    font-weight: 200;
    z-index: 2;
    display: inline-block;
}

.desc1, .desc2, .desc3 {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: rgba(238, 28, 116);
    padding: 3px;
}

.desc1 {
    width: 600px; 
    margin-top: 50px;
    margin-left: 390px;
}

.desc2 {
    width: 600px; 
    margin-top: 50px;
    margin-left: 390px;
}

.desc3 {
    margin-top: 80px;
    margin-left: 370px;
    width: 300px; 

}

/*Images*/
.enlarge1 {
    height: 350px; 
    width: auto;
    left: 0;
    position: absolute;
    margin-left: 70px;
    margin-top: 30px;
}

.enlarge2 {
    height: 220px; 
    width: auto;
    right: 0;
    position: absolute;
    margin-right: 70px;
    margin-top: 230px;
}

/*More information*/

.information{
    display : flex;
    margin-top: 150px;
    margin-left:70px;
    margin-right: 70px;

}


.information .real-life {
    font-family:'MV Boli';
    font-size: 17px;
    text-align:start;
    padding: 10px;
    color : rgb(255, 255, 255);
    background: rgba(238, 28, 116, 0.8);
    
    margin-right:25px;
    border-radius: 5px;
}

.instagram {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
    border-radius: 24%; /* To make the image round */
}


/*home button*/
.home{
    
    margin-left:50px ;
}

.home a {

    display: inline-block;
    width:65px;
    font-family: 'MV Boli';
    font-size: 17px;
    padding: 5px;
    text-align: center;

    background-color: rgb(255, 255, 255);
    color: rgba(238, 28, 116);

    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none; 

    transition: background-color 0.3s ease; 
}

.home a:hover {
    background-color: rgba(238, 28, 116); 
    color: rgb(255, 255, 255);
}

.home p {
    margin: 0; 
}



