/*body*/
body {
    background-image: url("picture&video/newspaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


font-face {
    font-family: 'MV Boli'; 
    src: url('MV\ Boli.ttf') format('truetype'); 
}

/* Nine Section Chain Whip */
.header1{
    width: 600px;
    display: flex;
    margin-top: 50px;
    margin-left: -40px;
    font-size: 30px;

}    

.text-content {
    display: flex;
    flex-direction: column;
}

.header1 p,
.header2 p {
    margin-left: 150px;
    margin-top: -60px;
    width: 120px;
    align-items: center;
    text-align: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ff5249db;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding:5px;
}

.header2 p{
    margin-top: -80px;
    margin-left: 290px;
}


h1 {
    text-shadow: #ff5349;
    justify-content : center;
    width:600px;
    text-align: right;

    font-family: 'MV Boli'; 
    margin-top: -45px;
    margin-bottom: 10px;


    font-size: calc( 1em + 5vmin );
    font-weight: 700;
    color: rgb(0, 0, 0);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(242, 109, 79);
    
    text-shadow: 
      
      var(--x-offset) var(--y-offset) 0px var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) ) calc( var(--y-offset) + var(--stroke) )
      0px var(--stroke-color);
    
  }

  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .heading {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }


/* Description */
.desc1,
.desc2,
.desc3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-family: 'MV Boli';
    font-size: 18px;
    border-radius: 8px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ff5249;
    margin: auto; 
}



.desc1 {
    width: 600px;
    margin-top: 20px;
}

.desc2 {
    width: 780px;
    margin-top: 10px;
    margin-bottom: -20px;
}
.desc3 {
    width: 840px;
    height: auto;
    margin-top: 20px;
}

.jjbSlide {
    margin-left: 30px;
    margin-top:70px ;
}




/*Images for both chain whip and sword*/
.slides {
    margin-top: -105px;
    margin-left: 55px;
    position: relative;
  }
  
.slides img {
    display: block;
    width: 470px; 
    height: 280px; 
    object-fit: cover;
    position: relative; 
}


.jjb-vid {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
/*Drunken Sword*/

.header2 {
    font-size: 38px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end; 
    text-align: center; 
    margin-right: 155px;

}

.text-content{
    text-align: center;
}

.text {
    margin-top: 150px;
    margin-left: 175px;

    text-align: center;
    font-size: 19px;
    width: 380px; 
    font-family: 'MV Boli';
    background-color: #ff5249db; 
    color: gold;
    padding: 3px; 
    border-radius: 8px;
}


.swordDescription{
    margin-left: 75px;
    border-radius: 8px;
    margin-top: 130px;
}

.slideshow-container
{
    margin-top: 60px;
}

.desc4, .desc5 {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-left: 200px;

    font-family: 'MV Boli';
    border-radius: 5px;
    background-color: #ff5249db; 
    color: rgb(255, 255, 255);
    padding: 3px;
    margin-top: 30px;
    width: 600px;
}

/* Instagram logo */
.instagram {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
    border-radius: 24%; 
}


/*home button*/
.home{
    
    margin-left:50px ;
}

.home a {

    display: inline-block;
    width:65px;
    font-family: 'MV Boli';
    font-size: 17px;
    padding: 5px;
    text-align: center;

    background-color: #ff5249; 
    color: gold;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none; 

    transition: background-color 0.3s ease; 
}

.home a:hover {
    background-color: gold;
    color: #ff5249;
}

.home p {
    margin: 0; 
}



