body{
    background-image: url("picture&video/newspaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

font-face {
    font-family: 'MV Boli'; 
    src: url('MV\ Boli.ttf') format('truetype'); 
}

/* Heading */

.header {
    display: inline-block;
    margin-left: 125px;
}

.header image {
    margin-top: -5px;
    margin-right: 70px;
    width: 210px; 
    height: 210px; 
    border-radius: 50%;

}

.text-content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;

    font-family: 'MV Boli'; 
    font-size: 40px;
}

.header p {
    margin-top: -30px;
    text-align: center;
    width: 105px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(237, 133, 129);
    color: rgb(0, 0, 0);
    font-size: 18px;
}


.header h1 {
    text-shadow: rgba(237, 133, 129);

    text-align:left;
    justify-content : center;

    font-size: calc( 1em + 5vmin );
    font-weight: 700;
    color: rgb(0, 0, 0);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(237, 133, 129);
    
    text-shadow: 
      
      var(--x-offset) var(--y-offset) 0px var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) ) calc( var(--y-offset) + var(--stroke) )
      0px var(--stroke-color);
    
  }

  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .heading {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }


/* Description */
.description {
    display: flex;
    align-self: flex-end;

    justify-content: right;
    margin-top: 60px;
    font-family: 'MV Boli';
    font-weight: 200;
    z-index: 2;
    display: inline-block;
}

.desc1, .desc2, .desc3 {  
    margin-top: 18px;
    border-radius: 5px;
    background-color: rgba(237, 133, 129,0.8); 
    color: rgb(255, 255, 255);
    padding: 3px;
}

.desc1 {
    width: 600px; 
    margin-left: 370px;
}

.desc2 {
    width: 480px; 
    margin-left: 370px;
}

.desc3 {
    margin-left: 370px;
    width: 560px; 

}

/*Images*/

img {
    border-radius: 10px;
}
.enlarge1 {
    height: 400px; 
    width: auto;
    left: 0;
    position: absolute;
    margin-left: 85px;
    margin-top: -160px;     
}

.enlarge2 {
    height: auto; 
    width: 400px;
    right: 0;
    position: absolute;
    margin-right: 140px;
    margin-top: -500px;
    margin-bottom: 20px;
}


.enlarge3 {
    height: 280px; 
    width: 460px;
    max-width: 100%; 
    height: auto; 
}


.tjs-vid{
    margin-left: 380px;
    
}

/*More information*/
.information {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: left; 
    font-family: 'MV Boli';
    color: rgb(237, 133, 129);
    margin-left: -40px;
}

.real-life {

    background: rgb(255, 255, 255,0.8);

    text-align: start;
    padding: 10px;
    margin-right: 45px;
    border-radius: 5px;
    width: 500px;
}

.information h4 {
    font-size: 16px;
    font-family: 'MV Boli';
    color: rgb(237, 133, 129);
    background:none;

}


.instagram {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
    border-radius: 25%; /* To make the image round */
}


/*home button*/
.home{
    
    margin-left:50px ;
}

.home a {

    display: inline-block;
    width:65px;
    font-family: 'MV Boli';
    font-size: 17px;
    padding: 5px;
    text-align: center;

    background-color: rgb(255, 255, 255);
    color: rgb(237, 133, 129);

    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none; 

    transition: background-color 0.3s ease; 
}

.home a:hover {
    background-color: rgb(237, 133, 129); 
    color: rgb(255, 255, 255);
}

.home p {
    margin: 0; 
}



